textarea {
	font-family: Courier;
	padding: 5px;
	color: black;
	height: 150px;
}

.charity-switch {
	margin-bottom: 10px;
}

input[type=text].bitcoin-input {
	margin-bottom: 10px
}

.switch label .lever {
	margin: 0 16px 0 0;
}
