.item {
  width: 250px;
  margin: 15px;
  height: 125px;
  flex: 0 0 auto;
}

.side-scroll {
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.challenge {
  background-color: #F6F7F8;
  padding: 15px;
}

.challenge:nth-child(odd) {
    background-color: #FFFFFF;
}

.new-challenge {
  display: block;
  text-align: center;
}