body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F6F7F8;
}

nav ul a {
  color: #343e45;
  border-bottom: 4px solid transparent;
}

nav ul a:hover{
  border-bottom: 4px solid #71AF05;
}
